# Server / Dashboard Configuration
NAS_NAME=NAS
PORT=8082

# Storage & Pool Mounts
STORAGE_POOL_PATH=/mnt/user
OS_NVME=nvme1n1
# DISKS=sda,sdb,sdc,nvme0n1 # Leave commented out for automatic discovery

# Optional Serial Hardware Overrides
# LED_PORT=/dev/ttyACM0
